<!DOCTYPE html>
<html lang="en">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
    <title>Marketplace Admi</title>
    <link rel="stylesheet" href="../../static/assets_dashboard/assets/vendors/mdi/css/materialdesignicons.min.css" />
    <link rel="stylesheet" href="../../static/assets_dashboard/assets/vendors/flag-icon-css/css/flag-icon.min.css" />
    <link rel="stylesheet" href="../../static/assets_dashboard/assets/vendors/css/vendor.bundle.base.css" />
    <link rel="stylesheet" href="../../static/assets_dashboard/assets/vendors/font-awesome/css/font-awesome.min.css" />
    <link rel="stylesheet"
        href="../../static/assets_dashboard/assets/vendors/bootstrap-datepicker/bootstrap-datepicker.min.css" />
    <link rel="stylesheet" href="../../static/assets_dashboard/assets/css/style.css" />
    <link rel="shortcut icon" href="../../static/assets_dashboard/assets/images/favicon.png" />
</head>

<body>
    <div class="container-scroller">
        <nav class="sidebar sidebar-offcanvas" id="sidebar">
            <div class="text-center sidebar-brand-wrapper d-flex align-items-center">
                <a class="sidebar-brand brand-logo" href="index.html"><img
                        src="../../static/assets_dashboard/assets/images/logo.svg" alt="logo" /></a>
                <a class="sidebar-brand brand-logo-mini pl-4 pt-3" href="index.html"><img
                        src="../../static/assets_dashboard/assets/images/logo-mini.svg" alt="logo" /></a>
            </div>
            <ul class="nav">
                <li class="nav-item nav-profile">
                    <a href="#" class="nav-link">
                        <div class="nav-profile-image">
                            <img src="../../static/assets_dashboard/assets/images/faces/face1.jpg" alt="profile" />
                            <span class="login-status online"></span>
                            <!--change to offline or busy as needed-->
                        </div>
                        <div class="nav-profile-text d-flex flex-column pr-3">
                            <span class="font-weight-medium mb-2">{{ user }}</span>

                        </div>

                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{{ url_for('dashboard') }}">
                      <i class="mdi mdi-home menu-icon"></i>
                      <span class="menu-title">Dashboard</span>
                    </a>
                  </li>
          
                  <li class="nav-item">
                    <a class="nav-link" href="{{ url_for('product') }}">
                      <i class="mdi mdi-contacts menu-icon"></i>
                      <span class="menu-title">Product</span>
                    </a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" href="{{ url_for('registerAdmin') }}">
                      <i class="mdi mdi-account"></i>
                      <span class="menu-title">Add Admin</span>
                    </a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" href="{{ url_for('logout') }}">
                      <i class="mdi mdi-account-remove"></i>
                      <span class="menu-title">logout</span>
                    </a>
                  </li>





            </ul>
        </nav>
        <div class="container-fluid page-body-wrapper">
            <div id="theme-settings" class="settings-panel">
                <i class="settings-close mdi mdi-close"></i>
                <p class="settings-heading">SIDEBAR SKINS</p>
                <div class="sidebar-bg-options selected" id="sidebar-default-theme">
                    <div class="img-ss rounded-circle bg-light border mr-3"></div> Default
                </div>
                <div class="sidebar-bg-options" id="sidebar-dark-theme">
                    <div class="img-ss rounded-circle bg-dark border mr-3"></div> Dark
                </div>
                <p class="settings-heading mt-2">HEADER SKINS</p>
                <div class="color-tiles mx-0 px-4">
                    <div class="tiles light"></div>
                    <div class="tiles dark"></div>
                </div>
            </div>
            <nav class="navbar col-lg-12 col-12 p-lg-0 fixed-top d-flex flex-row">
                <div class="navbar-menu-wrapper d-flex align-items-stretch justify-content-between">
                    <a class="navbar-brand brand-logo-mini align-self-center d-lg-none" href="index.html"><img
                            src="../../static/assets_dashboard/assets/images/logo-mini.svg" alt="logo" /></a>
                    <button class="navbar-toggler navbar-toggler align-self-center mr-2" type="button"
                        data-toggle="minimize">
                        <i class="mdi mdi-menu"></i>
                    </button>

                    <ul class="navbar-nav navbar-nav-right ml-lg-auto">

                        <li class="nav-item nav-profile dropdown border-0">
                            <a class="nav-link dropdown-toggle" id="profileDropdown" href="#" data-toggle="dropdown">
                                <img class="nav-profile-img mr-2" alt=""
                                    src="../../static/assets_dashboard/assets/images/faces/face1.jpg" />
                                <span class="profile-name">{{ user }}</span>
                            </a>
                            <div class="dropdown-menu navbar-dropdown w-100" aria-labelledby="profileDropdown">

                                <a class="dropdown-item" href="{{ url_for('logout') }}">
                                    <i class="mdi mdi-logout mr-2 text-primary"></i> Signout </a>

                            </div>
                        </li>
                    </ul>
                    <button class="navbar-toggler navbar-toggler-right d-lg-none align-self-center" type="button"
                        data-toggle="offcanvas">
                        <span class="mdi mdi-menu"></span>
                    </button>
                </div>
            </nav>
            <div class="main-panel">
                <div class="content-wrapper pb-0">
                    <div class="page-header flex-wrap">
                        <h3 class="mb-0"> Hi, welcome back! <span class="pl-0 h6 pl-sm-2 text-muted d-inline-block">Your
                                web
                                analytics dashboard </span>
                        </h3>


                        <!-- code ajax-->


                        <div class="col-12 grid-margin stretch-card">
                            <div class="card">
                                <div class="card-body">
                                    <h4 class="card-title"></h4>
                                    <p class="card-description">edit your data product here</p>

                                    <form class="forms-sample" method="post" >
                                        
                                        <div class="form-group">
                                            <label for="exampleInputName1">Name</label>
                                            <input type="text" class="form-control" id="exampleInputName1" name="name"
                                                placeholder="Name"  />
                                        </div>
                                        <div class="form-group">
                                            <label for="exampleInputEmail3">Description</label>
                                            <input type="text" class="form-control" id="exampleInputEmail3"
                                                name="description" placeholder="Description"
                                                />
                                        </div>
                                        <div class="form-group">
                                            <label for="exampleInputPassword4">Price</label>
                                            <input type="number" class="form-control" id="exampleInputPassword4"
                                                name="price" placeholder="Price"  />
                                        </div>
                                        <div class="form-group">
                                            <label for="exampleInputPassword5">Stock</label>
                                            <input type="number" class="form-control" id="exampleInputPassword5"
                                                name="stock" placeholder="Stock" />
                                        </div>
                                        
                                    


                                        <button type="submit" class="btn btn-primary mr-2">Submit</button>
                                    </form>



                                </div>
                            </div>
                        </div>








                     
                    </div>
                    <!-- main-panel ends -->
                </div>
                <!-- page-body-wrapper ends -->
            </div>
            <!-- container-scroller -->
            <!-- plugins:js -->
            <script src="../../static/assets_dashboard/assets/vendors/js/vendor.bundle.base.js"></script>
            <!-- endinject -->
            <!-- Plugin js for this page -->
            <script src="../../static/assets_dashboard/assets/vendors/chart.js/Chart.min.js"></script>
            <script
                src="../../static/assets_dashboard/assets/vendors/bootstrap-datepicker/bootstrap-datepicker.min.js"></script>
            <script src="../../static/assets_dashboard/assets/vendors/flot/jquery.flot.js"></script>
            <script src="../../static/assets_dashboard/assets/vendors/flot/jquery.flot.resize.js"></script>
            <script src="../../static/assets_dashboard/assets/vendors/flot/jquery.flot.categories.js"></script>
            <script src="../../static/assets_dashboard/assets/vendors/flot/jquery.flot.fillbetween.js"></script>
            <script src="../../static/assets_dashboard/assets/vendors/flot/jquery.flot.stack.js"></script>
            <script src="../../static/assets_dashboard/assets/vendors/flot/jquery.flot.pie.js"></script>
            <!-- End plugin js for this page -->
            <!-- inject:js -->
            <script src="../../static/assets_dashboard/assets/js/off-canvas.js"></script>
            <script src="../../static/assets_dashboard/assets/js/hoverable-collapse.js"></script>
            <script src="../../static/assets_dashboard/assets/js/misc.js"></script>
            <!-- endinject -->
            <!-- Custom js for this page -->
            <script src="../../static/assets_dashboard/assets/js/dashboard.js"></script>
            <!-- End custom js for this page -->
</body>

</html>